<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post List</title>
    <link rel="stylesheet" href="{% static 'selfchatgpt/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'selfchatgpt/css/chatbot.css' %}"/>
    <link rel="stylesheet" href="{% static 'selfchatgpt/css/board.css' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div id="head">
        <h1 id="logo">
            <a class="logo-img" href="/selfchatgpt/"></a>
        </h1>
        <nav>
            <ul id="nav">
                <li>
                    <a class="header-item focus-chatbot-btn" href="/selfchatgpt/chatbot/">AIVLE Bot</a>
                </li>
                <li>
                    {% if user.is_superuser %}
                        <a class="header-item" href="/admin/selfchatgpt/">관리자 페이지</a>
                    {% else %}
                    {% endif %}
                </li>
                <li>
                    <a class="header-item" href="/selfchatgpt/qna/">Q&A</a>
                </li>
                <li>
                    {% if user.is_authenticated %}
                        <a class="header-item" href="{% url 'selfchatgpt:logout' %}">{{ user.username }}님 로그아웃</a>
                    {% else %}
                        <a class="header-item" href="/selfchatgpt/login/">로그인</a>
                    {% endif %}
                </li>
{#                <li>#}
{#                    {% if user.is_authenticated %}#}
{#                        <a class="header-item" href="{% url 'selfchatgpt:update' %}">회원정보</a>#}
{#                    {% else %}#}
{#                    {% endif %}#}
{#                </li>#}
            </ul>
        </nav>
    </div>
</header>
<div id="main">
    <div class="post-container">
        <h1 class="qna">Q&A</h1>
        <table>
            <thead>
            <tr>
                <th class="table-text">질문</th>
                <th class="table-text">작성자</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td><a href="{% url 'selfchatgpt:post_detail' post_id=post.id %}" class="table-under-text">{{ post.title }}</a></td>
                    <td class="table-under-text">{{ post.author }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'selfchatgpt:post_create' %}" class="create-button">Create</a>
    </div>
</div>

<a class="chatbot-btn"></a>
<div class="chatbot-app">{% include "selfchatgpt/chatbot.html" %}</div>
</body>
<script type="text/javascript" src="{% static 'selfchatgpt/scripts/main.js' %}"></script>
<script type="text/javascript" src="{% static 'selfchatgpt/scripts/chatbot.js' %}"></script>
</html>
